body {
	color: white;
	margin: 0;
	padding: 10px 10px 10px 21px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-shadow:black 3px 2px 4px;
	min-height: 51px;
	min-width: 305px;
}
#background {
	background: url(back.png) no-repeat;
}
#icon {
	float: right;
	position: relative;
	bottom: 1px;
	right: 4px;
	margin-left: 10px;
	width: 48px;
	height: 48px;
}
#icon img {
	width: 48px;
	height: 48px;
}
#title {
	font-weight: bold;
	font-size: 14px;
	overflow: hidden;
	max-height: 17px;
}
#text {
	font-size: 11px;
	overflow: hidden;
	max-height: 26px;
}
#emergency #text {
	color: red;
}